NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GOOGLE_AI_API_KEY=

NEXT_PUBLIC_APP_NAME="ABC Company HRMS"
NEXT_PUBLIC_COMPANY_NAME="ABC Company Pvt. Ltd."
NEXT_PUBLIC_HRMS_PORTAL_URL="http://localhost:3000"

WHATSAPP_API_URL=
WHATSAPP_ACCOUNT_SID=
WHATSAPP_AUTH_TOKEN=
WHATSAPP_FROM_NUMBER=

RESEND_API_KEY=
EMAIL_FROM=
